<a href="https://colab.research.google.com/github/bvchand/Diabetes-detection-in-ICU-patients/blob/main/diabetes_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
cd '/content/drive/MyDrive/Spring-2021/CMPE-255/CMPE-255_Project/widsdatathon2021'

/content/drive/MyDrive/Spring-2021/CMPE-255/CMPE-255_Project/widsdatathon2021

In [7]:
data_dict = pd.read_csv("DataDictionaryWiDS2021.csv")

In [8]:
data_dict

               Category  ... Example
0            identifier  ...    None
1            identifier  ...    None
2           demographic  ...    None
3           demographic  ...    21.5
4           demographic  ...       0
..                  ...  ...     ...
176  APACHE comorbidity  ...       1
177  APACHE comorbidity  ...       1
178  APACHE comorbidity  ...       1
179  APACHE comorbidity  ...       1
180     Target Variable  ...       1

[181 rows x 6 columns]

In [9]:
diabetes_train = pd.read_csv("TrainingWiDS2021.csv")

In [10]:
diabetes_train

        Unnamed: 0  ...  diabetes_mellitus
0                1  ...                  1
1                2  ...                  1
2                3  ...                  0
3                4  ...                  0
4                5  ...                  0
...            ...  ...                ...
130152      130153  ...                  0
130153      130154  ...                  0
130154      130155  ...                  1
130155      130156  ...                  0
130156      130157  ...                  0

[130157 rows x 181 columns]

In [11]:
diabetes_train.ethnicity.unique()

array(['Caucasian', nan, 'Hispanic', 'African American', 'Asian',
       'Native American', 'Other/Unknown'], dtype=object)

In [15]:
diabetes_train.age.describe()

count    125169.000000
mean         61.995103
std          16.822880
min           0.000000
25%          52.000000
50%          64.000000
75%          75.000000
max          89.000000
Name: age, dtype: float64